{{#each games}}
    <h1>ClubName:{{this.club}}</h1>
    <h3>date: </h3>
    <p>{{this.date}}</p>
    <h3>status:</h3>
    <p>{{this.status}}</p>
    <h3>matchday:</h3>
    <p>{{this.matchday}}</p>
    <h3>homeTeamName:</h3>
    <p>{{this.homeTeamName}}</p>
    <h3>awayTeamName:</h3>
    <p>{{this.awayTeamName}}</p>
    <h3>goalsHomeTeam:</h3>
    <p>{{this.goalsHomeTeam}}</p>
    <h3>goalsAwayTeam:</h3>
    <p>{{this.goalsAwayTeam}}</p>

{{/each}}