<tr>
    <td>
        <ul>
            {{#each seasons }}
                <img src={{image.medium}} style="width:150px;height:150px;" >

                <li><a href={{url}}>{{url}}</a></li>
                <li>number:{{number}}</li>
                <li>episodeOrder:{{episodeOrder}}</li>
                <li>premiereDate:{{premiereDate}}</li>
                <li>endDate:{{endDate}}</li>
                <br>
            {{/each}}
        </ul>
    </td>

</tr>